body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}


form {
  border-radius: 4px;
  flex-direction: column;
  align-self: flex-end;
  gap: 10px;
  width: 88%;
  display: flex;
  padding: 0.8rem;
  }
  #add-button {
    background-color: rgb(9, 247, 116);
    width: 30px;
    width: 30%;
    align-self: flex-end;
  }

  h3 {
   align-self: center;
   color: rgb(5, 134, 63);
  }

  .container {
    border: 2px solid;
     border-radius: 8px;
     padding: 8px;
  }